@import url('https://fonts.google.com/specimen/Manrope');

.App {
  font-family: 'Manrope';
  text-align: center;
  background-color: #202733;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
